version: '3.8'
services:
  mongo:
    image: mongo:6.0
    container_name: interview_assistant_mongo
    restart: unless-stopped
    environment:
      MONGO_INITDB_DATABASE: interview-assistant
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

volumes:
  mongo_data:
    driver: local
